{% raw %}
<div class="small modal screen" id="ready-dialog">
  <div class="ui segment">
    <div class="ui icon message"><i class="notched circle loading icon"></i>
      <div class="content">
        <div class="header">Пожалуйста, подождите</div>
        <p></p>{{ state == 1 ? "Ждем других игроков..." :
           state == 2 ? "Мы сейчас посчитаем весь мир..." :
           state == 0 ? "Можете возвращаться в игру." : "" }}
      </div>
    </div>
    <div class="ui buttons">
      <button class="ui grey labeled icon button" v-on:click="doAction" v-bind:class="{ positive: state == 0, disabled: state == 2 || state == 1 }">
        {{ state == 1 ? "Я передумал" :
           state == 2 ? "...ждите..." :
           state == 0 ? "готово!" : "" }}<i class="icon" v-bind:class="{ eraser: state == 1, coffee: state == 2, checkmark: state == 0 }"></i>
      </button>
    </div>
    <div class="ui error message" v-bind:class="{ hidden: error == undefined }">
      <div class="header"> </div>
      <p>{{ error }}</p>
    </div>
  </div>
</div>
<!-- тут должно быть несколько вариантов:-->
<!-- 1. если мир еще не начал просчитываться, то должна работать кнопка "отмена".-->
<!-- 2. если мир уже начал просчитываться, то кнопка "отмена" должна стать неактивной-->
<!-- 3. если мир уже посчитался, то надо закрыть диалог и все-все-все обновить-->
<!--    через $PLAYING.Update();-->
<!-- количество планетарных жителей изменяется сотнями-->
<!-- единицы измерения времени - галактический год (это больше земного года - приблизительно 20 лет)-->
<script>
  $ReadyDialog = new Vue({ el: '#ready-dialog',
    data: {
      loading: false, // "in progress" dialog state
      error: undefined, // error message
  
      state: 1 // 1 - можно отменить, 2 - уже нельзя, мир считается, 3 - готово
    },
    methods: {
      Show: function(error) {
        this.error = error;
        this.state = 1;
        $(this.$el)
          .modal({
            closable: false,
            allowMultiple: true,
          })
          .modal('show');
        
        this.SendReady();
      },
      Close: function() {
        $(this.$el)
          .modal('hide');
      },
  
      // скажем серверу, что мы готовы
      SendReady() {
        var data = this;
        PUT(`/api/game/${$GAME}/ready`, {
          race: $RACE,
          year: $PLAYING.year
        }).then(json => {
          console.log("JSON: ", json)
          data.state = json;
  
          if (data.state != 0)
            emit(data.check, 1000);
        });
      },
      doAction() {
  
      },
  
      check() {
        var data = this;
        console.log("check!");
  
        GET("/api/race/" + $RACE + "/game/" + $GAME + "/ready")
          .then(json => {
            data.state = json;
            if (data.state == 0) { // ура! можно играть!
              data.Close();
              $PLAYING.Update();
            }
            else // еще нельзя играть, надо подождать
              emit(data.check, 1000);
          });
      }
    }
  });
  
</script>
<!-- TODO: разбить все окошки на компоненты-->
<!-- https://ru.vuejs.org/v2/guide/components.html-->
<!-- ===========================================================================================-->
<!-- главное игровое окно-->
<div class="ui segment" id="playing" v-bind:class="{ container: !fullscreen }" v-bind:style="[ hidden ? {display: 'none'} : {}]">
  <!-- менюшка-->
  <div class="ui secondary pointing menu">
    <div class="active header item">Jack of All Trades, Master of None</div>
    <!-- can use "asterisk loading" icon--><a class="ui label item" v-on:click="doReady"><i class="check large green icon"></i><b>TURN</b></a>
    <div class="right menu">
      <!-- Фулскрин-->
      <div class="item">
        <div class="ui checkbox">
          <input type="checkbox" name="example" v-model="fullscreen"/>
          <label>Fullscreen</label>
        </div>
      </div><a class="ui label item"><i class="tasks large icon" onclick="javascript:Switch($PROFILE)"></i></a><a class="ui label item"><i class="power off red large icon" onclick="javascript:Logout()"></i></a>
    </div>
  </div>
  <!-- окошки-->
  <div class="ui grid">
    <div class="row">
      <div class="four wide column">
        <!-- плейсхолдер для semantic-ui, так как он сдвигает блоки-->
        <div class="ui card" v-show="false"></div>
        <my-checkbox title="aaa">hello</my-checkbox>
        <!-- ---------------------------------------->
        <!-- Описание планеты-->
        <div class="ui card" v-show="planet_primary_info_style">
          <div class="ui grey right corner label" v-bind:class="{ hidden: updating.planet == 0 }"><i class="spinner loading icon"></i></div>
          <div class="content">
            <div class="ui ribbon label" v-bind:class="planet_name_color(planet.id)">
              <div class="ui dropdown" id="planet-name">
                <input type="hidden"/>
                <div class="span text">{{ planet.name }}</div>
                <div class="menu">
                  <div class="ui icon search input">
                    <input type="text" placeholder="Search a planet..."/>
                  </div>
                  <div class="scrolling menu">
                    <div class="item" v-for="planet in Object.values(planets).filter((p) =&gt; p.surface)" :data-value="planet.id" :data-text="planet.name">
                      <div class="text" :class="planet_name_color(planet.id)">{{ planet.name }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui right floated circular image" style="width:64px; height:64px">
              <canvas id="surface" style="width:100%; height:100%"></canvas>
              <div style="display:none"><img id="unknownp" src="img/unknownp.png"/></div>
            </div>
            <p></p>
            <div class="ui mini statistics popping-up">
              <div class="statistic">
                <div class="value">{{ F( planet.population ) }}</div>
                <div class="label">Население</div>
              </div>
            </div>
            <div class="ui popup">
              <div class="ui left aligned card">
                <div class="content">
                  <div class="header">Население планеты {{ planet.name }} составляет {{ F(population) }} колонистов</div>
                </div>
                <div class="content">
                  <div class="description">
                    <p v-if="planet_value &gt; 0">Эта планета может прокормить не более {{ F(planet_population_max) }} колонистов.</p><span v-if="planet.race">Население этой планеты вырастет на {{ F(planet_population_grow) }} к следующему г.году и будет составлять {{ F(population + planet_population_grow) }} колонистов.</span>
                  </div>
                </div>
                <div class="content">
                  <div class="description"><span class="text">Ценность планеты {{ planet.name }} для вашей расы составляет</span><span class="text" v-bind:class="{ red: planet_value &lt; 0, green: planet_value &gt; 0 }">&nbsp;{{ P(planet_value) }}</span></div>
                </div>
              </div>
            </div>
            <p></p>
            <div class="ui fluid dropdown" v-bind:class="{ disabled: planet.orbiting == undefined } ">
              <button class="fluid mini ui button">Флот на орбите</button>
              <div class="menu">
                <div class="item" v-for="ship in planet.orbiting" v-on:click="SelectStarshipById(ship.id)">
                  <div class="text" :class="ship_name_color(ship.id)">{{ ship.name }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="extra content">
            <div class="center aligned author" style="zoom: 55%">
              <!-- первая линейка статистики-->
              <div class="ui centered grid">
                <div class="row">
                  <div class="ui tiny statistics">
                    <!-- Ирониум-->
                    <div class="blue statistic popping-up">
                      <div class="value">{{ F( planet.ironium ) }} kT</div>
                      <div class="label">Ironium</div>
                    </div>
                    <div class="ui popup">
                      <div class="ui left aligned card" style="zoom: 180%">
                        <div class="content">
                          <div class="header">Boranium</div>
                          <div class="description">
                            <div class="ui divided list">
                              <div class="item">On Surface:
                                <div class="right floated">{{F( planet.ironium )}} kT</div>
                              </div>
                              <div class="item">Mineral Concentration:
                                <div class="right floated">{{F( )}} (HW)</div>
                              </div>
                              <div class="item">Mining Rate:
                                <div class="right floated">{{F( )}} kT/yr</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Бораниум-->
                    <div class="green statistic popping-up">
                      <div class="value">{{ F( planet.boranium ) }}kT</div>
                      <div class="label">Boranium</div>
                    </div>
                    <div class="ui popup">
                      <div class="ui left aligned card" style="zoom: 180%">
                        <div class="content">
                          <div class="header">Boranium</div>
                          <div class="description">
                            <div class="ui divided list">
                              <div class="item">On Surface:
                                <div class="right floated">{{F( planet.boranium )}} kT</div>
                              </div>
                              <div class="item">Mineral Concentration:
                                <div class="right floated">{{F( )}} (HW)</div>
                              </div>
                              <div class="item">Mining Rate:
                                <div class="right floated">{{F( )}} kT/yr</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Германиум-->
                    <div class="yellow statistic popping-up">
                      <div class="value">{{ F( planet.germanium ) }}kT</div>
                      <div class="label">Germanium</div>
                    </div>
                    <div class="ui popup">
                      <div class="ui left aligned card" style="zoom: 180%">
                        <div class="content">
                          <div class="header">Germanium</div>
                          <div class="description">
                            <div class="ui divided list">
                              <div class="item">On Surface:
                                <div class="right floated">{{F( planet.germanium )}} kT</div>
                              </div>
                              <div class="item">Mineral Concentration:
                                <div class="right floated">{{F( )}} (HW)</div>
                              </div>
                              <div class="item">Mining Rate:
                                <div class="right floated">{{F( )}} kT/yr</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- вторая линейка статистики-->
              <div class="ui centered grid">
                <div class="row">
                  <div class="ui tiny statistics">
                    <!-- шахты-->
                    <div class="statistic popping-up">
                      <div class="value">{{ F( planet.mines ) }} of {{ F( Math.floor(planet.population / 1000) ) }}</div>
                      <div class="label">Mines</div>
                    </div>
                    <div class="ui popup">
                      <div class="ui left aligned card" style="zoom: 180%">
                        <div class="content">
                          <div class="header">Mine Info</div>
                          <div class="description">
                            <p>You have {{ F( planet.mines ) }} Mines on {{ planet.name }}.</p>
                            <p>You may build up to ? Mines; however, your colonists are currently capable of operating only ? of them.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- производство-->
                    <div class="statistic popping-up">
                      <div class="value">{{ F( planet.factories ) }} of {{ F( Math.floor(planet.population / 1000) ) }}</div>
                      <div class="label">Factories</div>
                    </div>
                    <div class="ui popup">
                      <div class="ui left aligned card" style="zoom: 180%">
                        <div class="content">
                          <div class="header">Factory Info</div>
                          <div class="description">
                            <p>You have {{ F( planet.factories ) }} Factories on {{ planet.name }}.</p>
                            <p>You may build up to ? Factories; however, your colonists are currently capable of operating only ? of them.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- заметка об устаревшей информации-->
          <div class="ui bottom attached mini red button" v-if="planet.year &lt; year">Это устаревший отчет за {{ planet.year }} г.год</div>
        </div>
        <!-- ---------------------------------------->
        <!-- Описание космического корабля (флота)-->
        <div class="ui card" v-show="ship_primary_info_style">
          <div class="ui grey right corner label" v-bind:class="{ hidden: updating.ship == 0 }"><i class="spinner loading icon"></i></div>
          <div class="content">
            <div class="ui ribbon label" v-bind:class="ship_name_color(ship.id)">
              <div class="ui dropdown">
                <input type="hidden"/>
                <div class="span text" id="ship-name">{{ ship.name }}</div>
                <div class="menu">
                  <div class="ui icon search input">
                    <input type="text" placeholder="Search a ship..."/>
                  </div>
                  <div class="scrolling menu">
                    <div class="item" v-for="s in Object.values(ships).filter((s) =&gt; s.x == ship.x &amp;&amp; s.y == ship.y)" :data-value="s.id" :data-text="s.name">
                      <div class="text" :class="ship_name_color(s.id)">{{ s.name }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui right floated image" style="width:64px; height:64px">
              <image src="img/hull/scout_1.png" style="width:100%; height:100%"></image>
            </div>
            <p></p>
            <div class="ui mini statistics">
              <div class="statistic">
                <div class="label">
                  <div class="grey text">Battle Plan:</div>
                  <!-- TODO: добавить всплывающее меню с выбором:-->
                  <div class="text" :class="{ black: true }">Kill Starbase</div>
                </div>
              </div>
            </div>
            <p></p>
            <button class="fluid mini ui button" v-bind:class="{ disabled: !ship.orbiting }" v-on:click="SelectPlanetById(planet.id)">
              <div class="item" v-if="ship.orbiting">На орбите: <span class="text" v-bind:class="{ green: planets[ship.orbiting].race == race.id, red: planets[ship.orbiting].race &amp;&amp; (planets[ship.orbiting].race != race.id) }">{{ planets[ship.orbiting].name }}</span></div>
              <div class="text" v-else="v-else">"В глубоком космосе"</div>
            </button>
          </div>
          <div class="extra content">
            <div class="ui divided list" v-for="include in ship.includes">
              <div class="item">{{ include.name }}
                <div class="right floated">{{ include.count }}</div>
              </div>
            </div>
            <div class="center aligned">
              <button class="mini ui button" :class="{ disabled : !(ship.includes &amp;&amp; (ship.includes.length &gt; 1)) }">Split</button>
              <button class="mini ui button" :class="{ disabled : !(ship.includes &amp;&amp; (ship.includes.length &gt; 1)) }">Split All</button>
              <button class="mini ui button" :class="{ disabled : !Object.values(ships).filter((s) =&gt; s.x == ship.x &amp;&amp; s.y == ship.y).length &gt; 1 }">Merge</button>
            </div>
          </div>
        </div>
        <div class="ui card" v-bind:style="ship_secondary_info_style ? visible : invisible">
          <div class="ui grey right corner label" v-bind:class="{ hidden: updating.ship == 0 }"><i class="spinner loading icon"></i></div>
          <div class="content">
            <div class="ui ribbon label">Fleet waypoints</div>
            <!-- TODO: цвет точки маршрута в зависимости от "наш", "чужой", "х.з."-->
            <!-- TODO: всплывающая короткая инфа "что это"-->
            <!-- TODO: переход по клику-->
            <div class="ui right floated green text">Guderian</div>
            <p></p>
            <!-- основная статистика про следующую точку маршрута-->
            <div class="center aligned author">
              <div class="ui mini statistics">
                <div class="statistic">
                  <div class="value">40.36</div>
                  <div class="label">
                    <div class="grey text">l.y.</div>
                  </div>
                </div>
                <div class="statistic">
                  <div class="value">5</div>
                  <div class="label">
                    <div class="grey text">warp</div>
                  </div>
                </div>
                <div class="statistic">
                  <div class="value">2</div>
                  <div class="label">
                    <div class="grey text">years</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="extra content">
            <div class="ui divided list">
              <!-- TODO: всплывающий список с дополнительной инфой, типа "est fuel usage, etc.--><a class="item" v-for="(w, i) in ship.waypoints">
                <div class="text" :class="{ bold : i == ship.waypoint}">
                  {{ w.planet ? w.planet :
                     w.ship ? w.ship :
                     `Space (${w.x}, ${w.y})` }}
                  <!-- TODO: пересчитать в годах движения-->
                  <div class="right floated">{{ FDistance(ship.x, ship.y, w.x, w.y) }} l.y.</div>
                </div></a>
            </div>
          </div>
          <div class="extra content">
            <div class="label">Waypoint task:
              <div class="right floated black text">Colonize</div>
            </div>
          </div>
          <div class="ui attached warning mini message"><i class="close icon"></i>
            <div class="header">Warning</div>
            <p>The colonize mission cannot be done because none of your ships in this fleet have a colonization module in them.</p>
          </div>
        </div>
        <!-- TODO: other fleet here с минимумом инфы: топливо и карго-->
        <!-- ---------------------------------------->
        <!-- Сканеры / защита / производство-->
        <div class="ui card" v-bind:style="planet_secondary_info_style ? visible : invisible">
          <div class="ui grey right corner label" v-bind:class="{ hidden: updating.planet == 0 }"><i class="spinner loading icon"></i></div>
          <div class="content">
            <div class="ui ribbon label">Сканеры / Защита / Производство</div>
            <p></p>
            <div class="ui grid">
              <div class="centered row">
                <div class="ui mini statistics">
                  <div class="statistic popping-up">
                    <div class="value">150 l.y.</div>
                    <div class="label">Scoper 150</div>
                  </div>
                  <div class="ui popup">
                    <div class="ui left aligned card">
                      <div class="content">TBD.</div>
                    </div>
                  </div>
                  <div class="statistic popping-up">
                    <div class="value">{{ planet.defence }} of {{ F( Math.floor(planet.defence / 1000) ) }}</div>
                    <div class="label">
                      {{ planet.defence_type == 1 ? "SDI" :
                         planet.defence_type == 2 ? "Missile Battery" :
                         planet.defence_type == 3 ? "Laser Battery" :
                         planet.defence_type == 4 ? "Planetary Battery" :
                         planet.defence_type == 5 ? "Neutron Battery" :
                         "?" }}
                    </div>
                  </div>
                  <div class="ui popup">
                    <div class="ui left aligned card">
                      <div class="content"><img class="right floated mini ui image" src="img/defence_types/sdi.gif"/>
                        <div class="header">SDI</div>
                        <div class="meta">Tech required:<span class="text green">&nbsp;0</span></div>
                        <div class="description"><img class="ui small right floated image" src="img/defence_types/sdi_graph.gif"/><span class="text blue">Ironium</span><span style="float: right">5kT</span><br/><span class="text green">Boranium</span><span style="float: right">5kT</span><br/><span class="text yellow">Germanium</span><span style="float: right">5kT</span><br/><span class="text red">Resources</span><span style="float: right">15</span></div>
                      </div>
                      <div class="extra content">Planetary scanners and defences are not available to 'Alternate Reality' races.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui grid">
              <div class="centered row">
                <div class="ui mini statistics popping-up">
                  <div class="red statistic">
                    <div class="value">{{ F( planet.resources ) }} of {{ F( Math.floor(planet.population / 1000) ) }}</div>
                    <div class="label">Resources per Year</div>
                  </div>
                </div>
                <div class="ui popup">
                  <div class="ui left aligned card">
                    <div class="content">
                      <div class="header">Resource info</div>
                      <div class="description">
                        <p>{{ planet.name }} generates ? resources each year. ? of these resources have been allocated to reach.</p>
                        <p>That leaves ? resources for use by the planet.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui card" :style="invisible"></div>
        <!-- ---------------------------------------->
        <!-- Звездная база на орбите (если есть)-->
        <div class="ui card" v-bind:style="planet_secondary_info_style ? visible : invisible">
          <div class="ui grey right corner label" v-bind:class="{ hidden: updating.planet == 0 }"><i class="spinner loading icon"></i></div>
          <div class="content">
            <div class="ui ribbon label">Starbase</div>
            <div class="ui right floated image" style="width:64px; height:64px">
              <image id="starbase" src="img/starbase.png" style="width:100%; height:100%"></image>
            </div>
            <p></p>
            <div class="ui mini statistics">
              <div class="statistic">
                <div class="value">Unlimited</div>
                <div class="label">Dock Capacity</div>
              </div>
            </div>
          </div>
          <div class="grid extra content">
            <div class="center aligned author" style="zoom: 55%">
              <!-- первая линейка статистики-->
              <div class="ui centered grid">
                <div class="row">
                  <div class="ui tiny statistics">
                    <div class="statistic">
                      <div class="value">600dp</div>
                      <div class="label">Armor</div>
                    </div>
                    <div class="statistic">
                      <div class="value">800dp</div>
                      <div class="label">Shields</div>
                    </div>
                    <div class="statistic">
                      <div class="value">None</div>
                      <div class="label">Damage</div>
                    </div>
                  </div>
                </div>
                <!-- вторая линейка статистики-->
                <div class="row">
                  <div class="ui tiny statistics">
                    <div class="statistic">
                      <div class="value">None</div>
                      <div class="label">Mass Driver</div>
                    </div>
                    <div class="statistic">
                      <div class="value">None</div>
                      <div class="label">Destination</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ---------------------------------------->
        <!-- Производство (если есть)-->
        <div class="ui card" v-bind:style="planet_secondary_info_style ? visible : invisible">
          <div class="ui grey right corner label" v-bind:class="{ hidden: updating.planet == 0 }"><i class="spinner loading icon"></i></div>
          <div class="content">
            <div class="ui ribbon label">Производство</div>
            <div class="ui mini statistics">
              <div class="statistic">
                <div class="value">Статистика</div>
                <div class="label">Еще больше статистики</div>
              </div>
            </div>
          </div>
          <div class="grid extra content"></div>
        </div>
        <!-- Топливо, груз, колонисты-->
        <div class="ui card" v-bind:style="ship_secondary_info_style ? visible : invisible">
          <div class="ui grey right corner label" v-bind:class="{ hidden: updating.ship == 0 }"><i class="spinner loading icon"></i></div>
          <div class="content">
            <div class="ui ribbon label">Топливо, груз, колонисты</div>
            <div class="ui mini statistics">
              <div class="statistic">
                <div class="label">Кораблей: 2</div>
              </div>
            </div>
            <p></p>
            <div class="ui red progress" percent="74" data-value="70">
              <div class="bar">
                <div class="progress"></div>
              </div>
              <div class="label">Fuel</div>
            </div>
          </div>
          <!-- Груз-->
          <div class="extra content">
            <div class="ui progress" data-total="174" data-value="100">
              <div class="bar">
                <div class="progress"></div>
              </div>
              <div class="label">Cargo</div>
            </div>
            <div class="center aligned author" style="zoom: 55%">
              <!-- первая линейка статистики-->
              <div class="ui centered grid">
                <div class="row">
                  <div class="ui tiny statistics">
                    <!-- Ирониум-->
                    <div class="blue statistic">
                      <div class="value">{{ F( 10000 ) }}kT</div>
                      <div class="label">Ironium</div>
                    </div>
                    <!-- Бораниум-->
                    <div class="green statistic">
                      <div class="value">{{ F( planet.boranium ) }}kT</div>
                      <div class="label">Boranium</div>
                    </div>
                    <!-- Германиум-->
                    <div class="yellow statistic">
                      <div class="value">{{ F( planet.germanium ) }}kT</div>
                      <div class="label">Germanium</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="center aligned author" style="zoom: 55%">
              <!-- вторая линейка статистики (todo: видима только для перевозящих колонистов кораблей)-->
              <div class="ui centered grid">
                <div class="row">
                  <div class="ui tiny statistics">
                    <!-- Колонисты-->
                    <div class="black statistic">
                      <div class="value">{{ F( 100 ) }}kT</div>
                      <div class="label">Колонисты</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- -------------------------------------------------------------------------->
      <!-- игровое поле-->
      <div class="eight wide column">
        <div class="ui card" :style="invisible"></div>
        <div class="ui raised segment" id="board">
          <div class="ui dimmer" v-bind:class="{ active: updating.board }">
            <div class="ui loader"></div>
          </div>
          <svg id="svg" width="100%" viewBox="0 0 400 400" onclick="svgClicked(evt)">
            <rect width="100%" height="100%" fill="black"></rect>
            <image xlink:href="img/space-background-image3.jpeg" x="0" y="0" height="100%" width="100%"></image>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <!-- сообщения-->
  <div class="ui grid">
    <div class="row">
      <div class="eighteen wide column">
        <!-- Сообщения-->
        <div class="ui raised segment">
          <div class="ui ribbon label">Year <span class="green text">{{ year }} </span>Message
            <div class="detail">71 / 1255</div>
          </div>
          <!-- <div class="floating ui mini teal label">1255</div>-->
          <div class="content">
            <p></p>
            <!-- <a class="ui grey circular label">71</a>-->
            <div class="ui info message"><i class="close icon"></i>            Tip: You can hide unimportant messages by clicking the checkmark in
                          the messages body. You can reshow these messages at any time by
                          checking the checkbox under the messages block.
            </div>
            <div class="ui slider checkbox">
              <input name="newsletter" type="checkbox"/>
              <label>Show filtered messages</label>
            </div>
          </div>
          <p></p>
          <button class="ui right floated button"><i class="mail icon" onclick="javascript:rect.clear()"></i>         New Mail</button>
          <button class="ui labeled icon button"><i class="left arrow icon"></i>         Prev</button>
          <button class="ui right labeled icon button"><i class="right arrow icon"></i>         Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/generate-star-surface.js"></script>
<script>
  // окно статистики и профиля игрока (домашнее окно)
  var
  $PLAYING = new Vue({ el: '#playing',
    // струкрута даных приложения
    data: {
        loading: false,
        updating: {
          board: false,
          // TODO: добавить условие на сотню миллисекунд, после которых уже включать спиннер
          planet: 0,
          ship: 0
        },
        error: undefined,
        fullscreen: false,
  
        // styles:
        visible: {},
        invisible: { display: 'none' },
  
        race: { id: $RACE },
        year: undefined,
        planets: {}, // список всех планет
        ships: {}, // а так же всех флотов (кораблей)
  
  
        planet: { id: 0}, // планета, на которой сейчас фокус
        ship: { id: 0}, // то же самое, но космический корабль
  
        ironium_conc: undefined, //?
        boranium_conc: undefined,
        germanium_conc: undefined,
  
        planet_name: "", // TEMP
    },
    computed: {
      hidden: () => $STATE != this,
  
      ship_primary_info_style: function () {
        return (this.ship.id > 0);
      },
      ship_secondary_info_style: function () {
        return this.ship_primary_info_style && (this.ship.race == this.race.id);
      },
  
      planet_primary_info_style: function () {
        return !this.ship_primary_info_style;
      },
      planet_secondary_info_style: function () {
        return this.planet_primary_info_style && (this.planet.race == this.race.id);
      },
  
      population: function() { return this.planet.population },
      // максимальное количество колонистов, которое
      // способна прокормить идеальная планета
      race_population_max: function() {
        if (!this.race.habitat) // раса еще не прогрузилась
          return "?";
  
        var maxp = 1000000; // 1 миллиард, дефолтное значение
        // количество зависит от prt расы
        if (this.race.prt == 0) // Hyper-Expansion
          maxp *= 0.5;
        if (this.race.prt == 9) // Jack of All Trades
          maxp *= 1.2;
        // и от OBRM
        if (this.race.lrts & 32)// Only Basic Remote Mining
          maxp *= 1.1;
        
        return maxp;
      },
      planet_value: function() {
        if (!this.race.habitat || !this.planet)
          return "?";
  
        return HabValue(this.race, this.planet);
      },
      // максимальное количество колонистов, которое может прокормить
      // даyная планета
      planet_population_max: function() {
        if (!this.race.habitat || !this.planet) // данные еще не прогрузились
          return "?";
  
        var hv = HabValue(this.race, this.planet);
        if (hv < 0.05)
          return P100(this.race_population_max * 0.05);
        else
          return P100(this.race_population_max * hv);
      },
      planet_population_grow: function() {
        if (this.race.habitat && this.planet) // если данные получены
          return CalculateGrowth(this.race, this.planet);
        return "?";
      },
    },
  
    mounted: function () {
      // ...
    },
    watch: {
      planet: async function(planet, old) {
        if (planet == old)
          return;
  
        // обновим название планеты на экране, так как semantic-ui дебильный и не умеет в react
        $("#planet-name").dropdown('set text', this.planet.name);
  
        // перерисуем картинку планеты (или "?" если неизвестная)
        drawSurface(this.planet.surface);
  
        // передвинем треугольничек на карте
        if (triangle != undefined)
          triangle.remove();
  
        var x = this.planet.x;
        var y = this.planet.y;
        triangle = draw.polygon([
            [0, 0],
            [2, 5],
            [0, 3],
            [-2,5],
            [0, 0]
          ])
          .move(x-2, y+3).fill('none')
          .stroke({ color: 'yellow', width: 1 });
  
        // update planet data (if not previously updated in this year)
        if (this.planet.timestamp != this.year) {
          this.updating.planet++;
          let json = await GET(`/api/game/${$GAME}/planet/${this.planet.id}`, {
            race: $RACE,
            year: $PLAYING.year // на всякий случай, хотя и не надо
          });
          
          // и остальную информацию про планету
          this.planet = {...this.planet, ...json};
  
          this.planet.timestamp = this.year;
          this.updating.planet--;
        }
  
      },
      //- ship: async function(ship, old) {
      //-   if (ship == old || ship == undefined)
      //-     return;
  
      //-   // Если не часть флота, то получить список кораблей, из каких состоит
      //-   if (this.ship.fleet == false) {
      //-     try {
      //-       this.updating.ship++;
      //-       let json = await GET(`/api/game/${$GAME}/ship/${focus}`, {
      //-         race: $RACE,
      //-         year: $PLAYING.year // на всякий случай, хотя и не надо
      //-       });
      //-       this.ships[json.id].includes = json.includes;
      //-     }
      //-     finally {
      //-       this.updating.ship--;
      //-     }
      //-   }
  
      //-   // TEMP: generate some waypoints
      //-   if (this.ship.id == 1) {
      //-     this.ship.waypoint = 0;
      //-     this.ship.waypoints = [
      //-       {// цель - планета
      //-         planet: "Guderian",
      //-         x: 100,
      //-         y: 100,
      //-         task: "Colonize"
      //-       },
      //-       {// цель - другой корабль
      //-         ship: "Long Range Scout #2",
      //-         x: 200,
      //-         y: 100,
      //-         task: "Merge with fleet"
      //-       },
      //-       {// цель - точка в космосе
      //-         x: 200,
      //-         y: 200,
      //-         task: "No task"
      //-       }
      //-     ]
      //-   }
      //- }
    },
    methods: {
      // State methods
      Enter: function() {
        this.Update();
      },
      Leave: function() { },
      Lock: function(who) {
        $(who || this.$el).dimmer('show');
      },
      Unlock: function(who) {
        $(who || this.$el).dimmer('hide');
      },
  
      // -----------------------------------------------------
      SelectPlanetById: function (id) {
        console.log("SelectPlanetById", id)
        this.planet = this.planets[id] || { id: 0 };
        this.SelectStarshipById(); // сразу сброим отображение корабля
      },
      SelectStarshipById: function (id) {
        this.ship = this.ships[id] || { id: 0 };
      },
  
      // -----------------------------------------------------
      planet_name_color: function (id) {
        let p = this.planets[id];
        if (p == undefined)
          return {};
        
        return {
          green: p.race && (p.race == this.race.id),
          red:   p.race && (p.race != this.race.id)
        }
      },
      ship_name_color: function (id) {
        let s = this.ships[id];
        if (s == undefined)
          return {};
  
        return {
          green: s.race && (s.race == this.race.id),
          red:   s.race && (s.race != this.race.id)
        }
      },
  
      // -----------------------------------------------------
      PI: function(field) {
        return F(this.planets[this.index] != undefined ? this.planets[this.index][field] : undefined);
      },
      P: function(field) {
        if (isNaN(field))
          return "?";
        return Math.round(field * 100) + "%";
      },
      F: function(nStr) {
        if (nStr === undefined || nStr === false || nStr === NaN)
          return "?";
        
        nStr += '';
        let x = nStr.split('.');
        let x1 = x[0];
        let x2 = x.length > 1 ? '.' + x[1] : '';
        let rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
                x1 = x1.replace(rgx, "$1" + "'" + "$2");
        }
        return x1 + x2;
      },
  
      // Form methods
      // ----------------------------------------------
      Update: async function() {
        this.Lock();
        this.error = undefined;
  
        // todo: try/catch/finally
        this.year = await GET(`/api/game/${$GAME}/year`);
        this.race = await GET(`/api/race/${$RACE}`);
  
        this.Unlock();
  
        let json;
        this.updating.board = true;
  
        // ПЛАНЕТЫ
        // обновляем планеты, перерисуем карту
        json = await GET(`/api/game/${$GAME}/planets`, {
          race: $RACE,
          year: $PLAYING.year
        });
        console.log("planets:", json);
  
        // заполним список планет
        this.planets = {};
        for (var i = 0; i < json.length; i++)
          this.planets[json[i].id] = {...this.planets[json[i].id], ...json[i]};
  
        // КОСМИЧЕСКИЕ КОРАБЛИ
        json = await GET(`/api/game/${$GAME}/ships`, {
          race: $RACE,
          year: $PLAYING.year
        });
        console.log("ships:", json);
  
        this.ships = {};
        for (var i = 0; i < json.length; i++)
          this.ships[json[i].id] = {...this.ships[json[i].id], ...json[i]};
  
        // добавим корабли на орбиты соответствующих планет
        for (let sid in this.ships) {
          let ship = this.ships[sid];
          if (ship.orbiting) {
            this.planets[ship.orbiting].orbiting = this.planets[ship.orbiting].orbiting || [];
            this.planets[ship.orbiting].orbiting.push(ship);
          }
        }
  
        // рисуем планеты на канвасе (с окружностью, если на орбите есть корабли)
        var radius = 1.5;
        for (let pid in this.planets) {
          let planet = this.planets[pid];
  
          // if normal view
          draw.circle(2 * radius).fill(
            planet.race == $RACE ? 'lightgreen' :
            planet.race != false ? 'red' :
            'white'
          ).center(planet.x, planet.y);
  
          let orbiting = planet.orbiting; // вычислили чуть выше
          if (orbiting)
            draw.circle(4 * radius).fill('none').stroke('white').center(planet.x, planet.y);
        }
  
        // TODO: find homeworld
        this.updating.board = false;
  
        // временно: выберем текущую планету
        this.SelectPlanetById(27);
      },
  
      doReady() {
        $ReadyDialog.Show();
      },
  
      FDistance(x1, y1, x2, y2)
      {
        return this.F(
          Math.round(
            Math.sqrt((x2-x1)*(x2-x1) + (y2-y1)*(y2-y1)) * 100) / 100);
      }
    }
  });
  
</script>
<script>
  function drawSurface(surface) {
    var c = document.getElementById('surface');
    var w = 64;
    var h = 64;
    c.width = w;
    c.height = h;
  
    var ctx = c.getContext('2d');
    var imageData = ctx.getImageData(0,0,w,h);
    var bufSize = w * h * 4;
    var bufPtr = Module._malloc(bufSize);
    var buf = new Uint8Array(Module.HEAPU8.buffer, bufPtr, bufSize);
  
    var wrappedPaint=Module.cwrap('paint','void',['number','number','number','number','number']);
  
    var seed = $GAME + surface;
    var type = surface;
    if (surface != undefined && surface != false) {
      wrappedPaint(buf.byteOffset, w, h, seed, type);
      imageData.data.set(buf);
      ctx.putImageData(imageData,0,0);
    }
    else {
      var image = document.getElementById('unknownp');
      ctx.drawImage(image, 0, 0, w, h);
    }
  }
  
</script>
<script>
  $(document).ready(function(){
    //note: ...
    $('.message .close').on('click', function() {
      $(this)
        .closest('.message')
        .transition('fade')
    });
  
    // обработка выбора планет (в боксе "планета")
    $('#planet-name').dropdown('setting', 'onChange',
      function(id, name, $selectedItem) {
        $PLAYING.SelectPlanetById(id);
      }
    );
    $('#ship-name').dropdown('setting', 'onChange',
      function(id, name, $selectedItem) {
        $PLAYING.SelectStarshipById(id);
      }
    );
  
    //- function(id, name) {
    //-   console.log(id)
    //-   SelectPlanetById(id);
    //- });
  
  
    //- $("#planet-name").on('DOMSubtreeModified',function(){
    //-   let name = $("#planet-name").text();
    //-   console.log(name)
    //-   let o = Object.values($PLAYING.planets).find((s) => s.name == name);
    //-   console.log(o)
    //-   if (o)
    //-     $PLAYING.planets_focus = o.id;
    //- });
  
    //- // обработка выбора другого корабля (в боксе "космический корабль")
    //- $("#ship-name").on('DOMSubtreeModified',function(){
    //-   let name = $("#ship-name").text();
    //-   let o = Object.values($PLAYING.ships).find((s) => s.name == name);
    //-   if (o)
    //-     $PLAYING.ships_focus = o.id;
    //- });
  });
  
</script>
<script>
  var draw; // рисовалка
  jQuery(document).ready(function () {
    draw = SVG().addTo('#svg');
  });
  var triangle; // треугольничек, указывающий на планету
  
  function svgClicked()
  {
    let rect = svg.getBoundingClientRect()
    let x = svg.viewBox.baseVal.width * ((arguments[0].clientX - rect.left) / rect.width);
    let y = svg.viewBox.baseVal.height * ((arguments[0].clientY - rect.top) / rect.height);
    console.log(x, " ", y)
  
    let dist = 999999;
    let focus;
    for (let i in $PLAYING.planets) {
      let p = $PLAYING.planets[i];
      let d = Math.abs(p.x - x) + Math.abs(p.y - y);
      if (d < dist) {
        dist = d;
        focus = p;
      }
    }
    $PLAYING.SelectPlanetById(focus.id);
  }
  
</script>
<!-- http://www.starsfaq.com/advfaq/contents.htm-->
<script>
  var abs = Math.abs;
  var min = Math.min;
  var max = Math.max;
  var sqrt = Math.sqrt;
  
  // https://wiki.starsautohost.org/wiki/Article_Library
  // FAQ: https://wiki.starsautohost.org/wiki/Stars!_FAQ
  
  // todo: переделать эти расчеты на запрос от сервера !
  var Global = {
    GrowthFactorHyperExpansion: 2,
    NominalMaximumPlanetaryPopulation: 1000000,
  
    PopulationFactorHyperExpansion: 0.5,
    PopulationFactorJackOfAllTrades: 1.2,
    PopulationFactorOnlyBasicRemoteMining: 1.1,
  
    BaseCrowdingFactor: 16.0 / 9.0, // Taken from the Stars technical faq.
  };
  var FGravity = [
    // A.   x=1 to 26 (equivalent gravity range 0.12-0.50):
    //      for each x, grav value= F(x), where
    //      F(x)= 2^(-LOG[-0.24x + 8.24, 2]),
    //      note that Log[a,b] means log of "a" at base "b"
    //      inverse of F(x)= F(x)'= G(y), where y is the grav value input by a.
    //      user, then
    //      x= G(y)= (2^(-LOG[y,2]) - 8.24) / -0.24
    //
    // B.   x=27 to 51 (equivalent gravity range 0.50-1.00):
    //      for each x, grav value= F(x), where
    //      F(x)= 2^(-LOG[-0.04x + 3.04, 2]),
    //      note that Log[a,b] means log of "a" at base "b"
    //      inverse of F(x)= F(x)'= G(y), where y is the grav value input by a
    //      user, then
    //      x= G(y)= (2^(-LOG[y,2]) - 3.04) / -0.04
    //.
    // C.   x=52 to 76 (equivalent gravity range 1.00-2.00):
    //      for each x, grav value= F(x), where
    //      F(x)= 0.04x - 1.04,
    //      inverse of F(x)= F(x)'= G(y), where y is the grav value input by a
    //      user, then
    //      x= G(y)= (y + 1.04) / 0.04
    //
    // D.   x=77 to 101 (equivalent gravity range 2.00-8.00):
    //      for each x, grav value= F(x), where
    //      F(x)= 0.24x - 16.24,
    //      inverse of F(x)= F(x)'= G(y), where y is the grav value input by a
    //      user, then
    //      x= G(y)= (y + 16.24) / 0.24.
  
  //0      1      2      3      4      5      6      7      8      9
    0.121, 0.125, 0.128, 0.133, 0.137, 0.142, 0.147, 0.152, 0.158, 0.164, //  0
    0.171, 0.178, 0.186, 0.195, 0.204, 0.215, 0.227, 0.240, 0.255, 0.271, // 10
    0.29,  0.31,  0.33,  0.36,  0.40,  0.44,  0.50,  0.51,  0.52,  0.53,  // 20
    0.54,  0.55,  0.56,  0.58,  0.59,  0.60,  0.62,  0.64,  0.65,  0.67,  // 30
    0.69,  0.71,  0.73,  0.75,  0.78,  0.80,  0.83,  0.86,  0.89,  0.92,  // 40
    0.96,  1.00,  1.04,  1.08,  1.12,  1.16,  1.20,  1.24,  1.28,  1.32,  // 50
    1.36,  1.40,  1.44,  1.48,  1.52,  1.56,  1.60,  1.64,  1.68,  1.72,  // 60
    1.76,  1.80,  1.84,  1.88,  1.92,  1.96,  2.00,  2.24,  2.48,  2.72,  // 70
    2.96,  3.20,  3.44,  3.68,  3.92,  4.16,  4.40,  4.64,  4.88,  5.12,  // 80
    5.36,  5.60,  5.84,  6.08,  6.32,  6.56,  6.80,  7.04,  7.28,  7.52,  // 90
    7.76,  8.00 // 100
  ];
  // prt:
  var HE = 0;
  
  function NormalizeHabitalityDistance(envt, starValue)
  {
    var minv = envt[0];
    var maxv = envt[1];
    var span = maxv - minv;
  
    var totalClicksFromCenterToEdge = span / 2;
    var centre = minv + totalClicksFromCenterToEdge;
    var clicksFromCenter = abs(centre - starValue);
    //console.log("nhd:", clicksFromCenter / totalClicksFromCenterToEdge)
    return clicksFromCenter / totalClicksFromCenterToEdge;
  }
  
  function GetMalusForEnvironment(envt, starValue, maxMalus)
  {
    if (starValue > envt[1])
      return min(maxMalus, starValue - envt[1]);
    
    if (starValue < envt[0])
      return min(maxMalus, envt[0] - starValue);
  
    return 0;
  }
  
  function P100(v)
  {
    return Math.floor(v / 100) * 100;
  }
  
  // эта функция возвращает "ценность" планеты для населения расы в процентах.
  // https://www.elite-games.ru/stars/doc/race/hab.shtml
  function HabValue(race, planet)
  {
    var g = (race.habitat.immunity & 1) ? 0 : NormalizeHabitalityDistance(race.habitat.gravity, planet.gravity);
    var t = (race.habitat.immunity & 2) ? 0 : NormalizeHabitalityDistance(race.habitat.temperature, planet.temperature);
    var r = (race.habitat.immunity & 4) ? 0 : NormalizeHabitalityDistance(race.habitat.radiation, planet.radiation);
  
    //- console.log("gtr:", g, t, r);
  
    if (r > 1 || g > 1 || t > 1) {
      // currently not habitable
      var result = 0;
      var maxMalus = (race.lrts & 4) ? 30 : 15; // 30 for TT (Total Terraforming)
      if (g > 1)
          result -= GetMalusForEnvironment(race.habitat.gravity, planet.gravity, maxMalus);
      if (t > 1)
          result -= GetMalusForEnvironment(race.habitat.temperature, planet.temperature, maxMalus);
      if (r > 1)
          result -= GetMalusForEnvironment(race.habitat.radiation, planet.radiation, maxMalus);
      //console.log("hab value:", result / 100.0);
      return result / 100.0;
    }
  
    var x = max(0, g - 0.5);
    var y = max(0, t - 0.5);
    var z = max(0, r - 0.5);
  
    var h = sqrt(((1 - g) * (1 - g)) + ((1 - t) * (1 - t)) + ((1 - r) * (1 - r))) * (1 - x) * (1 - y) * (1 - z) / sqrt(3.0);
    //console.log("hab value:", h);
    return Math.floor(h * 100) / 100;
  }
  
  // максимальное количество населения на идеальной планете
  function MaxPopulation(race)
  {
    var maxPop = Global.NominalMaximumPlanetaryPopulation;
    if (race.prt == 0) // HE
      maxPop = Math.floor(maxPop * Global.PopulationFactorHyperExpansion);
    if (race.prt == 9) // JOAT
      maxPop = Math.floor(maxPop * Global.PopulationFactorJackOfAllTrades);
    if (race.lrts & 32) // OBRM
      maxPop = Math.floor(maxPop * Global.PopulationFactorOnlyBasicRemoteMining);
  
    //console.log("maxPop:", maxPop)
    return maxPop;
  }
  
  // количество колонистов от максимального (в процентах)
  function Capacity(race, planet)
  {
    var maxPopulation = MaxPopulation(race);
  
    //- if (race.prt == 0) // "HyperExpansion"
    //-   maxPopulation *= Global.PopulationFactorHyperExpansion; // ???, we already used this at MaxPopulation.
  
    //console.log("HabValue:", HabValue(race, planet))
    if (HabValue(race, planet) < 0.0)
      maxPopulation = 25000.0;
  
    var capacity = (planet.population / maxPopulation) * 100;
    //console.log("capacity: ", capacity);
    return Math.ceil(capacity);
  }
  
  function CalculateGrowth(race, planet)
  {
    //console.log("planet", planet)
    var habitalValue = HabValue(race, planet);
    var growthRate = race.habitat.growth_rate;
  
    //- if (race.prt == 0)
    //-   growthRate *= Global.GrowthFactorHyperExpansion;
  
    var populationGrowth = 0;
    var capacity = Capacity(race, planet) / 100.0;
  
    if (habitalValue < 0.0) // negative hab planet
      populationGrowth = 0.1 * planet.population * habitalValue;
    else if (capacity < 0.25) // low pop planet
      populationGrowth = planet.population * growthRate / 100.0 * habitalValue;
    else if (capacity < 1.0) // // early crowding
    {
      populationGrowth = planet.population * growthRate / 100.0 * habitalValue;
      var crowdingFactor = Global.BaseCrowdingFactor * (1.0 - capacity) * (1.0 - capacity);
      populationGrowth *= crowdingFactor;
    }
    else if (capacity == 1.0) // full planet
      populationGrowth = 0;
    else if (capacity > 1.0 && capacity < 4.0) // over full planet
      populationGrowth = planet.population * (capacity - 1) * -4.0 / 100.0; // .04% per 1% over capacity
    else if (capacity >= 4.0) // very over full planet: crowding deaths cap at 12%
      populationGrowth = planet.population * -0.12;
            
    // As per vanilla Stars! the minimal colonist growth unit
    // is set as 100 colonists. A planet does not track colonists
    // by the tens. While visually this does not matter much,
    // the compounding effect of growth can make those extra tens of
    // colonists matter in the long run and mismatch the behaviour
    // of Stars! and Nova.
    var finalGrowth = Math.floor(populationGrowth / 100) * 100;
  
    console.log("finalGrowth:", finalGrowth);
    return finalGrowth;
  }
  
</script>{% endraw %}