script#race-habitat-card-template(type="text/x-template")
  .card(:class="{ 'is-deaf': race.readonly }")
    .card-content.p-2
      .media
        .media-left
          span.icon.is-large.mr-3
            i.fas.fa-heart-pulse.fa-2x
        .media-content
          .title.is-4 Habitat
          .subtitle.is-6 Environment conditions where race lives, grows, and thrives
      div
        span.is-size-1 TBD.
