script#race-lesser-traits-card-template(type="text/x-template")
  .card(:class="{ 'is-deaf': race.readonly }")
    .card-content.p-2
      .media
        .media-left
          span.icon.is-large.mr-3
            i.fas.fa-trowel.fa-2x
        .media-content
          .title.is-4 LRTs
          .subtitle.is-6 Lesser Racial Traits

      .columns.is-multiline.is-variable.is-1
        .column.is-half(v-for="trait in traits")
          button.button.is-small.is-fullwidth(:class="{ 'is-primary': race.lesser_traits & trait.id }")
            span {{ trait.name }}
